%input(id="staff_id" value="#{@staff.id}" type="hidden")
.container
  .row
    .card-panel
      %span.font_size_22= "#{@staff.name}さんのページ"
      %p 販売レポートを確認したり出勤時間を確認したりするよ(・∀・)！
      
    .card-panel
      %table.bordered
        %tr
          %td 日付
          %td 勤務時間(計)

        - @work_times.each do |k,v|
          %tr
            %td= k
            %td= "#{(v / 60).round(2)}時間"




