!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 業務をもっと簡単に
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    - if user_signed_in? 
      = render "parts/header"
    .parallax-container
      .parallax
        = image_tag "island.jpg",class: "blur"
    = yield
    = render "parts/footer"


    = javascript_include_tag 'application'
    = render "home/notice"

    :css
      .parallax-container{
        height: 333px;
      }
